body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #fef5c8;
}

.container {
    text-align: center;
    background-color: #00988d;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
}

h1 {
    color: #fef5c8;
}

#nomeGerado {
    margin: 20px 0;
    font-size: 24px;
    color: #f23e02;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #013750;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #f23e02;
}
